# Core ML/DS Libraries
torch==2.5.0 --index-url https://download.pytorch.org/whl/cu121
transformers
datasets
accelerate
huggingface_hub
numpy

# Evaluation Environments
alfworld
scienceworld

# Experiment Tracking
wandb

# Testing
pytest
