# Core ML/DS Libraries
torch>=2.5.0
transformers>=4.56.2
datasets
accelerate
huggingface_hub
numpy<2.0.0

# Evaluation Environments
alfworld
scienceworld

# Experiment Tracking
wandb

# Testing
pytest
